<div class="container mt-3">
  <div class="row">
    <div class="col-5">
      <table class="table table-borderless">
        <tr>
          <td><img *ngIf="this.leftNumber >=1" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=2" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=3" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
        <tr>
          <td><img *ngIf="this.leftNumber >=4" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=5" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=6" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
        <tr>
          <td><img *ngIf="this.leftNumber >=7" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=8" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.leftNumber >=9" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
      </table>
    </div>
    <div class="col-2 text-center">
      <img *ngIf="this.operator==='minus'" src="../../../../assets/images/MinusSign.png" style="height: 50%; width: 50%;" class="img-fluid">
      <img *ngIf="this.operator==='plus'" src="../../../../assets/images/PlusSign.png" style="height: 50%; width: 50%;" class="img-fluid">
    </div>
    <div class="col-5">
      <table class="table table-borderless">
        <tr>
          <td><img *ngIf="this.rightNumber >=1" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=2" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=3" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
        <tr>
          <td><img *ngIf="this.rightNumber >=4" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=5" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=6" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
        <tr>
          <td><img *ngIf="this.rightNumber >=7" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=8" src="../../../../assets/images/dot.png" class="img-fluid"></td>
          <td><img *ngIf="this.rightNumber >=9" src="../../../../assets/images/dot.png" class="img-fluid"></td>
        </tr>
      </table>
    </div>
    
  </div>
</div>
