<div *ngIf="isLoaded" class="container pt-2 pb-2 mb-3">
  <div class="row " dir='rtl'>
    <div class="col-2">
        <p class="text-left">
          <!-- <button (click)="loadPrevPage()" id="backbutton" type="button " class="btn btn-warning" [disabled]="isItTheFirstPic()">הקודם</button> -->
          <img id="backImg" src="../../../assets/images/back.png" (click)="loadPrevPage()" [className]="!this.isItTheFirstPic() ? 'rounded float-left nextback' : 'rounded float-left nextback appear-as-disable'" alt="Responsive image">
        </p>
    </div>
    <div class="col-8">
        <em><p class="text-center h3" style="font-size: 5vw;">{{this.gameEngToHeb.get(this.game)}}</p></em>
        <p class="text-center h3"> רמה {{this.LevelToLevelIDMap.get(this.level)}}</p>
    </div>
    <div class="col-2">
        <p class="text-right">
            <img id="nextImg" src="../../../assets/images/next.png" (click)="loadNextPage()" [className]="!this.isItTheLastPic() ? 'rounded float-right nextback' : 'rounded float-right nextback appear-as-disable'" alt="Responsive image">
          <!-- <button (click)="loadNextPage()" id="nextbutton" type="button" class="btn btn-warning" [disabled]="isItTheLastPic()">הבא</button> -->
        </p>
    </div>
  </div>
</div>

<h3 class="text-center">שאלה {{this.mathGameDataToDisplay?.id}} מתוך {{this.mathGameData?.mathQuestions?.length}}</h3>

<div *ngIf="isLoaded" class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="row justify-content-center" dir='ltr' style="padding-bottom: 200px; background-color: rgb(183, 243, 213); border-color: black;   border-style: outset;">
        <!-- <h1>{{this.mathGameDataToDisplay?.mathQuestion}}</h1> -->
        <h1><b>{{this.leftNumber }}&nbsp;</b></h1>
        <h1 style="color: red;"><b>{{this.wordToOperator.get(this.operator)}}&nbsp;</b></h1>
        <h1><b>{{this.rightNumber}}&nbsp;</b></h1>
        <h1 style="color: red;"><b> = </b></h1>
      </div>
    </div>
    <div class="col-6 pt-3 pb-3" style="background-color: rgb(168, 217, 248); border-color: black;   border-style: outset;">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <div class="row">
            <div class="col-4">
              <h1>{{this.CorrectAnswersCounter}}</h1>
            </div>
            <div class="col-8">
              תשובות נכונות
              <mat-icon matBadgeColor="warn">done_outline</mat-icon>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-danger">
          <div class="row">
            <div class="col-4">
              <h1>{{this.wrongAnswersCounter}}</h1>
            </div>
            <div class="col-8">
              תשובות שגויות
              <mat-icon matBadgeColor="warn">highlight_off</mat-icon>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- <app-math-counting-objects *ngIf="this.level === 'level-1' && this.game === 'addition-subtraction'"
      [leftNumber]="this.leftNumber" [rightNumbet]="this.rightNumber" [operator]="this.operator">
  </app-math-counting-objects> -->

  <div [className]="isAnswered ? 'row text-center pt-3 pb-3 appear-as-disable' : 'row text-center pt-3 pb-3' " style="background-color: lightsteelblue;">
    
    <div *ngFor="let choice of this.mathGameDataToDisplay?.multipleChoise" class = col>
      <!-- <button
              type="button" [className]="(choice === this.mathGameDataToDisplay.correctAnswer && this.isAnswered) ? 'btn btn-success btn-lg active' : 'btn btn-lg btn-info' " [disabled]="this.isAnswered" (click)="onClickAnswer(choice)">{{choice}}
      </button> -->

      <button (click)="onClickAnswer(choice)" mat-fab [color]="this.isAnswered && this.mathGameDataToDisplay.correctAnswer === choice ? 'warn' : 'primary'"  class="dynbamicfontsize">{{choice}}</button>
    </div>
  </div>

</div>

<app-load-spinner></app-load-spinner>
<app-answer-feedback></app-answer-feedback>