<!-- Modal -->
<div dir='rtl' class="modal fade " id="answerFeedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h2 class="modal-title " id="exampleModalLabel">{{feedbackMessage}}</h2>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="{{imagePath}}" class="rounded adjustImageSize" >
        </div>
      </div>
      <!-- <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">סגור</button>
        </div> -->
    </div>
  </div>
</div>
