@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

.imagesizing {
    height: 10%;
    width: 10%;
  }

  .level{
      color:blue;
  }

  svg {
    background: transparent;
  }
  
  text {
    fill: #35322a;
    filter: url('#money');
    font-family: 'Playfair Display', 'Georgia', serif;
    font-size: 120px;
    font-weight: 900;
  }
  
  html {
    align-items: center;
    background: transparent;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 600px;
  }