
<div dir ="rtl" class="jumbotron">
  <div class="container">
    <div class="row">
        <h1 style="margin-left: 5%;" class="display-4">תרגילי חשבון</h1>

        <!-- <svg width='600' height='200'>
          <filter id='money'>
            <feMorphology in='SourceGraphic' operator='dilate' radius='2' result='expand'/>
        
            <feOffset in='expand' dx='1' dy='1' result='shadow_1'/>
            <feOffset in='expand' dx='2' dy='2' result='shadow_2'/>
            <feOffset in='expand' dx='3' dy='3' result='shadow_3'/>
            <feOffset in='expand' dx='4' dy='4' result='shadow_4'/>
            <feOffset in='expand' dx='5' dy='5' result='shadow_5'/>
            <feOffset in='expand' dx='6' dy='6' result='shadow_6'/>
            <feOffset in='expand' dx='7' dy='7' result='shadow_7'/>
        
            <feMerge result='shadow'>
              <feMergeNode in='expand'/>
              <feMergeNode in='shadow_1'/>
              <feMergeNode in='shadow_2'/>
              <feMergeNode in='shadow_3'/>
              <feMergeNode in='shadow_4'/>
              <feMergeNode in='shadow_5'/>
              <feMergeNode in='shadow_6'/>
              <feMergeNode in='shadow_7'/>
            </feMerge>
        
            <feFlood flood-color='#ebe7e0'/>
            <feComposite in2='shadow' operator='in' result='shadow'/>
        
            <feMorphology in='shadow' operator='dilate' radius='1' result='border'/>
            <feFlood flood-color='#35322a' result='border_color'/>
            <feComposite in2='border' operator='in' result='border'/>
        
            <feOffset in='border' dx='1' dy='1' result='secondShadow_1'/>
            <feOffset in='border' dx='2' dy='2' result='secondShadow_2'/>
            <feOffset in='border' dx='3' dy='3' result='secondShadow_3'/>
            <feOffset in='border' dx='4' dy='4' result='secondShadow_4'/>
            <feOffset in='border' dx='5' dy='5' result='secondShadow_5'/>
            <feOffset in='border' dx='6' dy='6' result='secondShadow_6'/>
            <feOffset in='border' dx='7' dy='7' result='secondShadow_7'/>
            <feOffset in='border' dx='8' dy='8' result='secondShadow_8'/>
            <feOffset in='border' dx='9' dy='9' result='secondShadow_9'/>
            <feOffset in='border' dx='10' dy='10' result='secondShadow_10'/>
            <feOffset in='border' dx='11' dy='11' result='secondShadow_11'/>
        
            <feMerge result='secondShadow'>
              <feMergeNode in='border'/>
              <feMergeNode in='secondShadow_1'/>
              <feMergeNode in='secondShadow_2'/>
              <feMergeNode in='secondShadow_3'/>
              <feMergeNode in='secondShadow_4'/>
              <feMergeNode in='secondShadow_5'/>
              <feMergeNode in='secondShadow_6'/>
              <feMergeNode in='secondShadow_7'/>
              <feMergeNode in='secondShadow_8'/>
              <feMergeNode in='secondShadow_9'/>
              <feMergeNode in='secondShadow_10'/>
              <feMergeNode in='secondShadow_11'/>
            </feMerge>
        
            <feImage x='0' y='0' width='600' height='200' xlink:href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/stripes.svg'/>
            <feComposite in2='secondShadow' operator='in' result='secondShadow'/>
        
            <feMerge>
              <feMergeNode in='secondShadow'/>
              <feMergeNode in='border'/>
              <feMergeNode in='shadow'/>
              <feMergeNode in='SourceGraphic'/>
            </feMerge>
          </filter>
        
          <text dominant-baseline='middle' text-anchor='middle' x='50%' y='50%'>
            תרגילי חשבון
          </text>
        </svg> -->

        <img src="../../../../assets/images/AdditionSubtraction.png" class="img-fluid imagesizing">
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/images/PlusMinus.png" class="card-img-top" style="background-color: bisque;">
          <div class="card-body" style="background-color: rgb(255, 251, 246);">
            <h3 class="card-title  text-center"><b>חיבור וחיסור</b></h3>
            <hr>
            <h6 class="mt-2">בחרו רמה</h6>
            <div class="text-center mt-2">
              <mat-button-toggle-group #group="matButtonToggleGroup" name="level" value="/math/addition-subtraction/level-1/1">
                <mat-button-toggle value="/math/addition-subtraction/level-1/1">קל</mat-button-toggle>
                <mat-button-toggle value="/math/addition-subtraction/level-2/1">בינוני</mat-button-toggle>
                <mat-button-toggle value="/math/addition-subtraction/level-3/1">קשה</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <!-- <h6 class="mt-2">מספר תרגילים</h6>

            <mat-label>בחרו מספר תרגילים</mat-label> -->
            <hr>
            <h6>20 תרגילים, לשינוי בחרו מטה</h6>
            <mat-form-field appearance="fill" style="color: white; margin-top: 10px;">
              <mat-label>בחרו מספר תרגילים</mat-label>
              <mat-select  [(value)]="this.selectedQuestionAmountValue">
                <mat-option #matOption1 (click)="onAmountSelect(matOption1.value)" [value]="10">
                  10
                </mat-option>
                <mat-option #matOption2 (click)="onAmountSelect(matOption2.value)" [value]="15">
                  15
                </mat-option>
                <mat-option #matOption3 (click)="onAmountSelect(matOption3.value)" [value]="20">
                  20
                </mat-option>
                <mat-option #matOption4 (click)="onAmountSelect(matOption4.value)" [value]="25">
                  25
                </mat-option>
                <mat-option #matOption5 (click)="onAmountSelect(matOption5.value)" [value]="30">
                  30
                </mat-option>
                <mat-option #matOption6 (click)="onAmountSelect(matOption6.value)" [value]="35">
                  35
                </mat-option>
                <mat-option #matOption7 (click)="onAmountSelect(matOption7.value)" [value]="40">
                  40
                </mat-option>
                <mat-option #matOption8 (click)="onAmountSelect(matOption8.value)" [value]="45">
                  45
                </mat-option>
                <mat-option #matOption9 (click)="onAmountSelect(matOption9.value)" [value]="50">
                  50
                </mat-option>
              </mat-select>
            </mat-form-field>

            <hr>

            <mat-expansion-panel (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                הסבר על רמות הקושי
              </mat-panel-title>
              </mat-expansion-panel-header>
              
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                   <b>קל:</b> 
                   <br>
                    מספרים עד 10
                  </li>
                <li class="list-group-item list-group-item-warning">
                  <b>בינוני:</b>
                  <br>
                   מספרים עד 100</li>
                <li class="list-group-item list-group-item-danger">
                  <b>קשה:</b>
                  <br>
                   מספרים עד 1000</li>
              </ul>

            </mat-expansion-panel>

          </div>
          <div class="card-footer text-center">
            <!-- Path defined in router: {path: 'math/:game/:level/:id', component: MathComponent}, -->
            <a routerLink='{{group.value}}' class="btn btn-success" role="button">התחלה</a>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;" >
          <img src="../../../../assets/images/multiplicationSign.png" class="card-img-top" style="background-color: bisque;">
          <div class="card-body" style="background-color: rgb(255, 251, 246);">
            <h3 class="card-title  text-center"><b>כפל</b></h3>
            <h6 class="mt-2">בחרו רמה</h6>
            <div class="text-center mt-2">
              <mat-button-toggle-group #group2="matButtonToggleGroup" name="level2" value="/math/multiplication/level-1/1">
                <mat-button-toggle value="/math/multiplication/level-1/1">קל</mat-button-toggle>
                <mat-button-toggle value="/math/multiplication/level-2/1">קשה</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <hr>
            <h6>20 תרגילים, לשינוי בחרו מטה</h6>
            <mat-form-field appearance="fill" style="color: white; margin-top: 10px;">
              <mat-label>בחרו מספר תרגילים</mat-label>
              <mat-select>
                <mat-option #matOption10 (click)="onAmountSelect(matOption10.value)" [value]="10">
                  10
                </mat-option>
                <mat-option #matOption20 (click)="onAmountSelect(matOption20.value)" [value]="15">
                  15
                </mat-option>
                <mat-option #matOption30 (click)="onAmountSelect(matOption30.value)" [value]="20">
                  20
                </mat-option>
                <mat-option #matOption40 (click)="onAmountSelect(matOption40.value)" [value]="25">
                  25
                </mat-option>
                <mat-option #matOption50 (click)="onAmountSelect(matOption50.value)" [value]="30">
                  30
                </mat-option>
                <mat-option #matOption60 (click)="onAmountSelect(matOption60.value)" [value]="35">
                  35
                </mat-option>
                <mat-option #matOption70 (click)="onAmountSelect(matOption70.value)" [value]="40">
                  40
                </mat-option>
                <mat-option #matOption80 (click)="onAmountSelect(matOption80.value)" [value]="45">
                  45
                </mat-option>
                <mat-option #matOption90 (click)="onAmountSelect(matOption90.value)" [value]="50">
                  50
                </mat-option>
              </mat-select>
            </mat-form-field>

            <hr>

            <mat-expansion-panel (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                הסבר על רמות הקושי
              </mat-panel-title>
              </mat-expansion-panel-header>
              
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                   <b>קל:</b> 
                   <br>
                    מספרים עד 10
                  </li>
                <li class="list-group-item list-group-item-danger">
                  <b>קשה:</b>
                  <br>
                   מספרים עד 100</li>
              </ul>

            </mat-expansion-panel>
            
          </div>
          <div class="card-footer text-center">
            <!-- Path defined in router: {path: 'math/:game/:level/:id', component: MathComponent}, -->
            <a routerLink='{{group2.value}}' class="btn btn-success" role="button">התחלה</a>
          </div>
        </div>
      </div>
        
    </div>

    <hr class="my-4">

  </div>
</div>

