<section >
  <!-- Pictur of gan play-->
</section>
<section>
  <div dir="rtl" class="container">
    <div class="row justify-content-center">
      <h3>המשחקים שלנו</h3>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-6 mb-4">
          <div class="card" style="width: 20rem;">
              <img src="../../assets/images/Numbers.png" style="background:cornsilk; height: 180px" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">משחק ספירה</h5>
                <hr class="my-4">
                <p class="card-text">ספירה ומניה של אובייקטים המופיעים בכל תמונה והתאמת מספר</p>
                <a routerLink='/counting' class="btn btn-primary">למשחק</a>
              </div>
          </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6 mb-4">
          <div class="card" style="width: 20rem;">
              <img src="../../assets/images/Letters.png" style="background: cornsilk; height: 180px" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">אות פותחת אות סוגרת</h5>
                <hr class="my-4">
                <p class="card-text">התאמת אות פותחת ואות סוגרת לאובייקטים המופיעים בכל תמונה</p>
                <a routerLink='/letters' class="btn btn-primary">למשחק</a>
              </div>
          </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6 mb-4">
          <div class="card" style="width: 20rem;">
              <img src="../../assets/images/AdditionSubtraction.png" style="background:cornsilk" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">תרגילי חשבון</h5>
                <hr class="my-4">
                <p class="card-text">מגוון תרגילי חשבון לכל הרמות</p>
                <a routerLink='/math' class="btn btn-primary">למשחק</a>
              </div>
          </div>
      </div>
    </div>
  </div>

</section>




